{% extends 'main/layout.html' %}

{% block content %}
	<div class="container">
		<div class="row">
			{% for t in tutorials %}
				<div class="col s12 m6 l4">
					<div class="card blue-grey lighten-1">
						<div class="card-content white-text">
							<span class="card-title">{{ t.tutorial_title }}</span>
							<p style="font-size: 70%">{{ t.tutorial_published }}</p>
							<div>
								{{ t.tutorial_content|safe }}
							</div>
						</div>
					</div>
				</div>
			{% endfor %}
		</div>
	</div>
{% endblock %}
