{% load static %}

<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Tutorials</title>
	<link rel="stylesheet" href="{% static "tinymce/css/prism.css" %}"/>
	<link rel="stylesheet" href="{% static "main/css/materialize.css" %}">
</head>
<body>

<nav>
	<div class="nav-wrapper">
		<div class="container">
			<a href="#" class="brand-logo">Tutorials</a>
			<ul id="nav-mobile" class="right hide-on-med-and-down">
				<li><a href="/">Home</a></li>
				<li><a href="/register">Register</a></li>
				<li><a href="/login">Login</a></li>
			</ul>
		</div>
	</div>
</nav>

{% block content %}
{% endblock %}

<script src="{% static 'tinymce/js/prism.js' %}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</body>
</html>